
* {
    margin: 0;
    padding: 0;
    width: 100vh;
    
  }

body{

    background-color: rgb(143, 221, 143);
    font-family: Arial, Helvetica, sans-serif;
    scrollbar-width:none;
    
}

.imagen {
    width: 300px;
   
}


h1{

color: black ;


size: 50px;
margin-top: 20px;
margin-left: 10px;
margin-bottom: 20px;

}


.divclass{

    margin-top: 20px;
    margin-left: 10px;
    display: flex;
   
  
    
}

.barra{
border-color: rgb(104, 212, 104);
background-color: whitesmoke;
border-width: 3px;
border-style: solid;
width: 30%;
height: 15px;
border-radius: 6px;


 
    
}

.buscar{
    border-color: rgb(104, 212, 104);
    background-color: antiquewhite;
    border-width: 3px;
    border-style: solid;
    margin-right: 10px;
    margin-left: 10px;
    width: 68px;
    border-radius: 6px;
    cursor: pointer;
} 
 

.reset{
    border-color:  rgb(104, 212, 104);
    background-color: antiquewhite;
    border-width: 3px;
    border-style: solid;
    width: 68px;
    border-radius: 6px;
    cursor: pointer;
  
}


.div2{

   
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    cursor: pointer;
   
    


}


h2{

    color: black;
    margin-top: 50px;
    margin-left: 10px;
    border: 2px solid white;
    background-color: white;
}

.listas{

    margin-right: 50px;
    
    border: 2px solid black;
    color: white;
    background-color: black;

}


.footer{
        color: aliceblue;
        
        position: fixed;
      
        bottom: 0;
        font-size: 0.8rem;
        width: 100%;
        margin-bottom: 10px;
        margin-left: 30px;
       
}
.content{
    list-style: none;
}

.content_item1{

    color: aliceblue;
    text-decoration: none;
  
}

.content_item2{

    color: aliceblue;
    text-decoration: none;
}

.content_item3{

    color: aliceblue;
    text-decoration: none;
}
.content_item4{

    color: aliceblue;
    text-decoration: none;
}



